@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,300&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@300;500&display=swap');

body{
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 112, 112);

}
.pokedex{
  
    display: flex;
}